<section class="details-page">
    <div>Flight: </div>
    <div><%= ticket.flight %></div>
    <div>Seat: </div>
    <div><%= ticket.seat %></div>
    <div>Price: </div>
    <div><%= ticket.price %></div>
    </section>