<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/flights">View All Flights</a>
      <a href="/flights/new">Add New Flight</a>
    </div>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/flights/new">add new flight</a>
    <br>
    <a href="/flights">View all flights</a>

  </body>
</html>
